@import "tailwindcss";

@layer components {
    .list-emoji {
      @apply list-none pl-6;
    }
    
    .list-emoji li {
      @apply relative;
    }
    
    .list-emoji li::before {
      content: "✨ ";
      @apply absolute -left-6;
    }
    
    /* For different emoji variants */
    .list-emoji-star li::before {
      content: "⭐ ";
    }
    
    .list-emoji-check li::before {
      content: "🔅 ";
    }
  }

/* bg-[linear-gradient(90deg,_rgba(240,244,236,1)_7%,_rgba(241,235,226,1)_50%)]*/